<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>




<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="color.css"> 
<link rel="stylesheet" href="assets/css/style.css">
<link href="/public/style.css" rel="stylesheet" />
<link rel="stylesheet" href="/public/color.css"  />
<link href="/public/style.css" rel="stylesheet" />
-->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

<link rel="stylesheet" href="/public/color.css"  />
<link href="/public/styles.css" rel="stylesheet" />

<title>create post</title>
</head>
<body>

  <%- include('./partials/nav.ejs') %>

    


      <div class="container">
        <div class="jumbotron">
            <h2 class="text-center text-capitalize mb-5 ms-auto mx-auto">edit content</h2>
            <h5>author: <%=userstatus1%> </h5>
            


            <div class="row">
                <div class="col-md-8 mx-auto">
                    <form action='/edit' method="post" >
                      
                     
                      <div class="form-group">
                        <label for="exampleFormControlTextarea2">Heading</label>
                        <textarea name="heading" placeholder="" class="form-control" id="exampleFormControlTextarea2" rows="1"><%= blog.heading%></textarea>
                      </div>

                        <!--
<div class="form-group">
                          <label for="exampleInputEmail1">Email address..</label>
                          <input name = "email" type="hidden" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">author</label>
                          <input name="author" type="text" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        -->
                                                     
                              
                               
                        
                     

                        <input name = "email" type="hidden" value="<%=userstatus2%>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <input name="author" type="hidden" value="<%=userstatus1%>" class="form-control" id="exampleInputPassword1">
                        <input name="id_edit" type="hidden" value="<%=blog._id%>" class="form-control" id="exampleInputPassword2">
                       
                        
                        

                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Content</label>
                            <textarea name="body"  placeholder="" class="form-control" id="exampleFormControlTextarea1" rows="3"><%= blog.body%></textarea>
                          </div>
                        
                          <!--<form>-->
                            <div class="form-group">
                              <label for="exampleFormControlFile1">Example file input</label>
                              <input name="img" type="file" class="form-control-file" id="exampleFormControlFile1" value="" >
                           
                            </div>
                          <!--</form>-->
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                </div>
            </div>
          </div>
      </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>


<!--

  button function
  
  <button onclick="window.location.href='/create'"
class="btn btn-primary text-capitalize mx-auto d-block mb-5">create new post</button>-->